.App {
  text-align: center;
  background-color: #3d1db3;
  min-height: 100vh;

}

#my-nav-color {
  background-color: #281d52 !important;
  
}

.my-nav-font {
  color: rgb(215, 173, 229);
}

.my-nav-font:hover {
  color:rgb(115, 181, 10)
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #c343c8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #692c09;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
